/GUI

.gitignore
/.vscode
Last Change Date.Dat
/__pycache__

/notes
/executable
/executablesx86

/build
/dist
WPR.spec
python36.dll

*.png
*.ico
*.exe
*.json
*.pkl
*.Dat
*.log
*.pickle
.vscode/settings.json
